# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Kyle Altendorf
	email = sda@fstab.net
[credential]
	helper = cache --timeout=3600
[difftool "charm"]
	cmd = charm_diff_with_wait --local="$LOCAL" --remote="$REMOTE"
[diff]
	tool = charm
[difftool]
	prompt = false
[mergetool "charm"]
	#cmd = charm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
	cmd = charm_merge_with_wait --local="$LOCAL" --remote="$REMOTE" --base="$BASE" --merged="$MERGED"
[merge]
	tool = kdiff3
[difftool "bc3"]
	trustExitCode = true
[mergetool "bc3"]
	trustExitCode = true
